<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler mx-auto text-center" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wyniki">Wyniki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/modyfikacja">Modyfikacja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/roboty">Roboty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/opinia">Opinia</a>
                </li>
            </ul>
        </div>
    </div>
</nav>